---
layout: default
title: "Colab ile Programlama"
fulltitle: "Colab ile Programlama | Anasayfa"
excerpt: "Colab ile Programlama"
---

<div class="flex justify-center">
  <div class="alert alert-warning absolute max-w-xl transition duration-400">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="stroke-current shrink-0 h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
      />
    </svg>
    <span>Dokümanların tamamlanması biraz zaman alacaktır!</span>
  </div>
</div>
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-xl">
      <h1 class="text-5xl font-bold title">{{site.title}}</h1>
      <p class="py-6 tag-line">{{site.tagline}}.</p>
      <div class="w-full flex space-x-2">
        {% for item in site.data.langs %}
        <div class="card w-96 bg-base-100 shadow-xl">
          <div class="flex justify-end w-full">
            <div class="p-1">
              {% if item.finished == false %}
              <div class="badge badge-error">tamamlanmadı</div>
              {% else %}
              <div class="badge badge-success">tamamlandı</div>
              {% endif %}
            </div>
          </div>
          <div class="card-body">
            <h2 class="card-title text-2xl">{{ item.name }}</h2>
            <p class="card-desc text-left">{{ item.description }}</p>
            <div class="card-actions justify-center">
              <a href="{{ item.link }}" class="btn btn-primary">
                {{ item.name }} ile başla
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>